body {
  margin: 0;
  text-align: center;
}

h1 {
  width: 10%;
  margin: 0 auto;
}

.top-container {
  background-color: #da9ff9;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 30px;
  right: 300px;

}

.bottom-cloud {
  position: absolute;
  left: 300px;
}
